<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>棱点科技</title>
		<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/home.css" />
		<style>
			#edui1_iframeholder {
				overflow-x: hidden;
				overflow-y: hidden;
			}
			
			.newsdiv {
				height: 100%;
			}
			
			.line-limit-length {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
			}
			#picture p{
				width:100%;
			}
			#picture img {
				width:70%;
				display:block;
				margin:0 auto; 
			}
			
		</style>
	</head>

	<body>
		<div class="col-xs-12 head headbg">
			<div class="logo_div">
				<img src="../img/公司logo.jpg" / class="logo">
			</div>
			<div class="navigation">
				<a href="../index.html" class="btn btn2 btn-default">首页</a>
				<a href="../business_system.html" class="btn btn2 btn-default">案例</a>
				<a href="../new.html" class="btn btn2 btn-default">新闻资讯</a>
				<a href="../call.html" class="btn btn2 btn-default">联系我们	</a>
				<a href="../about.html" class="btn  btn2 btn-default">关于我们</a>
			</div>
		</div>
		<div class="project_title">
			<h1>案例</h1>
		</div>
		<!--主模块-->
		<div class="project">
			<h3 id="bt"></h3>
			<p id="nr" style="text-indent:2em;width:70%;"></p>
			<!-- <img src="../img/图片1 - 副本.png" /><span>图 1智能化桥涵检测系统首页</span>
			<img src="../img/图片2 - 副本.png" /><span>图 2检测项目管理</span> -->
			<div id="picture"></div>
		</div>
		<div class="foot col-xs-12">
			<img src="../img/公司logo.jpg" class="foot_logo" />
			<div class="foot_a">
				<a href="">关于我们</a>
				<a href="">加入棱点</a>
				<a href="">企业服务</a>
				<a href="">联系我们</a>
				<a href=""><img src="../img/sina.jpg" /></a>
				<a href=""><img src="../img/vx.jpg" /></a>
			</div>
		</div>
		<div class="footer">
			<span>Copyright 2016.All rights reserved.</span>
			<span>China: +86 2 33 44 55 66    US: +11 222 333 444    support@shark.com</span>
		</div>
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</body>
	
	<script>
	$(document).ready( function () {
		initTable();
	} );
	
	//获取url传参
    function getParam(paramName) { 
        paramValue = "", isFound = !1; 
        if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) { 
            arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0; 
            while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++ 
        } 
        return paramValue == "" && (paramValue = null), paramValue 
    } 
    
    var id=getParam("id");
    console.log(id)
    function initTable(){
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/anli/getanliById',
	        dataType: 'json',
	        data: {
	        	id:id,
	        },
	        success: function (json) {
	        	$("#picture").html(json.alPicture)
	        	$("#bt").html(json.alBt)
	        	$("#nr").html(json.alNr)
	        	$("#date").html(json.alDate)
	        	}
		    });
    }
    
	</script>

</html>